<div class="text-center" >
  <div class="card-header tittleIcon d-flex justify-content-between align-items-center text-white" style="background-color:#002c5d"></div>
  <div class="row" style="padding: 0px 10px 0px 10px;">
    <div class="spinner-overlay d-none">
      <div class="spinner-grow text-success spinner-grow-lg" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div> 
    <div class="bodyCard col-lg-4 col-md-5 p-0 messages-list"></div>
    <div class="bodyCardStudent col-lg-8 col-md-7 details-panel p-4">
      <!-- Spinner oculto inicialmente -->
      <div id="spinner-loading2" class="spinner-loading d-none" >
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Cargando...
      </div>
    </div>
  </div>
</div>