<div class="row animated zoomInRight">
    <div class="card" id="section_one">
        <div class="card-body">
            <ul class="nav nav-tabs" id="messagesTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="reasignation-tab" data-bs-toggle="tab" data-bs-target="#reasignation" type="button" role="tab"><i class="fas fa-share me-2"></i>REASIGNAR</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="toAnswer-tab" data-bs-toggle="tab" data-bs-target="#toAnswer" type="button" role="tab"><i class="fas fa-search me-2"></i> CONSULTAR O CONTESTAR</button>
                </li>
                <li class="nav-item" role="presentation">
                        <button class="nav-link" id="complaints-tab" data-bs-toggle="tab" data-bs-target="#complaints" type="button" role="tab"><i class="fas fa-exclamation-triangle me-2"></i>QUEJAS</button>
                </li>
                <li class="nav-item" role="presentation">
                        <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"><i class="fas fa-envelope me-2"></i> MENSAJES </button>
                </li>
            </ul>
            <div class="tab-content" id="messagesTabContent" >
                <div class="tab-pane fade part_one" id="reasignation" role="tabpanel"></div>
                <div class="tab-pane fade part_two" id="toAnswer" role="tabpanel"></div>
                <div class="tab-pane fade part_three" id="complaints" role="tabpanel"></div>
                <div class="tab-pane fade part_four" id="messages" role="tabpanel"></div>
            </div>
        </div>
    </div>
</div>