<div class="modal fade bd-example-modal-lg" id="ModalLargeObs" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" id= "modalLargeCreate" role="document">
		<div class="modal-content">
			<div class="modal-header" >
				<div id="headTag">
					<div class="row modal-title" id="tittleContent">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h5 id="titleModalLarge" style="text-align: center;"></h5>
						</div>
					</div>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form id="form1" autocomplete="off">
				<div class="modal-body">
					<div id="bodyTagLarge"></div>
				</div>
				<div class="modal-footer">
					<span id="errorModalLarge" class="animated infinite flash text-center"></span>
					<div id="buttons_action_large">
						<button type="button" id="btnModalLarge"  class="btn btn-primary btn-sm" disabled="disabled"></button>
					</div>
					<button type="button" class="btn btn-danger btn-sm " data-bs-dismiss="modal">Salir <i class="fa fa-window-close" aria-hidden="true"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>