<div class="container-fluid">	
	<div class="card py-5">
		<div class="card-header" id="table_quej2"></div>
		<div class="card-body messages-list" id="table_quej"></div>
	</div>
	<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirm" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="modalValid">Confirmar </h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Tenga en cuenta que el contenido del mensaje puede tener varios propósitos, verifique si efectivamente la solicitud no hace parte de su gestión.</p>
				<p>¿Está seguro que desea devolver el mensaje al Coordinador de Calidad?</p>
			</div>
			<div class="modal-body">
				<label for="exampleFormControlTextarea1" class="form-label">Digite el motivo</label>
				<textarea class="form-control" id="txtMotivoRedir" ></textarea>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
			  <button type="button"  class="btn btn-primary" id="btnValidAcept">Aceptar</button>
			</div>
		  </div>
		</div>
	</div>
</div>