<div class="container p-2">

	<div class="row text-center p-3">

		<div class="col-md-12">

			<label  ><span class="label label-default font-weight-bold">Actualizacion de datos de Quejas </span><br></label>
 
			<label   id="lbmensage"></label>	
			
		</div>
	</div>

	<div class="row text-center p-3" id="divQuejas" >

		<div class="col-md-12" id="">
	
		
			<div class="mb-3 mt-3 bg-info">
				<label for="text" class="form-label">Comentarios Padres :</label>
				<textarea class="form-control form-control-sm inputPlain" id="txtComentPadres" placeholder="Digite su respuesta ..." ></textarea>
			</div>
			<div class="mb-3 mt-3 bg-info">
				<label for="text" class="form-label">Comentarios Alumno :</label>
				<textarea class="form-control form-control-sm inputPlain" id="txtComentAlumnos" placeholder="Digite su respuesta ..." ></textarea>
			</div>
			<div class="mb-3 mt-3 bg-info">
				<label for="email" class="form-label">Plan de Accion:</label>
				<textarea class="form-control form-control-sm inputPlain" id="txtPlanAccion" placeholder="Digite su respuesta ..." ></textarea>
			</div>
			<div class="mb-3 mt-3 bg-info">
				<label for="email" class="form-label">Fecha Limite:</label>
				<input type="date" class="form-control" id="fecha_limite" placeholder="fecha_limite" name="fechaLimite">
			</div>

			<div class="mb-3 mt-3  bg-primary bg-opacity-50" >
				<label for="number" class="form-label">Este Item solo aplica para Trasporte</label><br>
				<label for="number" class="form-label">Motivo de la queja :</label>
				<div id="selecMotiv" class="bg-primary"></div>
			</div>
			
		</div>
	</div>

</div>