<div class="container p-2">
	<div class="row text-center p-3">
		<div class="col-md-12">
			<label  ><span class="label label-default font-weight-bold">Estudiante</span></label><br>
			<label  class="label label-default font-weight-bold"  id="lbstudent"></label><br>
			<label  ><span class="label label-default font-weight-bold">Mensaje</span><br></label>
			<label   id="lbmensage"></label>
		</div>
	</div>
	<div class="row text-center p-3">
		<div class="col-md-12">
			<label class="text-center"><span class="label label-default font-weight-bold">Descripción Respuesta</span></label><br>
			<textarea class="form-control form-control-sm inputPlain" id="description" placeholder="Digite su respuesta ....." rows="2"></textarea>
		</div>
	</div>
</div>