<div class="container p-2">

	<div class="row text-center p-3">

		<div class="col-md-12">

			<label  ><span class="label label-default font-weight-bold">QUEJA</span><br></label>

			<label   id="lbmensage"></label>	
			
		</div>
	</div>

	<div class="row text-center p-3" id="divQuejas" >

		<div class="col-md-12" id="">
			<div class="mb-3 mt-3">
				<label for="text" class="form-label">CODIGO QUEJA:</label>
				<input type="text" class="form-control" id="txtCodQuej" placeholder="" name="txtCodQuej">
			</div>
			
			<div class="mb-3 mt-3">
				<label for="text" class="form-label">Motivo de Queja:</label>
				<input type="text" class="form-control" id="txtMotQuej" placeholder="" name="txtTimepoGest">
			</div>
	
			<div class="mb-3 mt-3">
				<label for="text" class="form-label">TIEMPO DE GESTION (PLAN DE ACCION):</label>
				<input type="text" class="form-control" id="txtTimepoGest" placeholder="" name="txtTimepoGest">
			</div>

			<div class="mb-3 mt-3">
				<label for="number" class="form-label">Circular I:</label>
				<div id="selectCirc"></div>
			</div>
			
			<div class="mb-3 mt-3">
				<label for="number" class="form-label">Circular II:</label>
				<div id="selectCirc1"></div>
			</div>
			<div class="mb-3 mt-3">
				<label for="email" class="form-label">Comentarios Cordinador de Calidad:</label>
				<textarea class="form-control form-control-sm inputPlain" id="txtCometCalidad" placeholder="Digite su respuesta ..." ></textarea>
			</div>
			
		</div>
	</div>

</div>